<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ChatMessageMapper">

    <resultMap id="chatMessageResultMap" type="com.example.demo.pojo.ChatMessage">
        <id property="id" column="id" />
        <result property="sendUserId" column="send_user_id" />
        <result property="receiveUserId" column="receive_user_id" />
        <result property="sendContent" column="send_content" />
        <result property="sendTime" column="send_time" />
        <result property="createTime" column="create_time"/>
        <result property="sendUserAvatar" column="send_user_avatar"/>
    </resultMap>

    <select id="getChatHistory" resultMap="chatMessageResultMap">
        SELECT id, send_user_id, receive_user_id, send_content, send_time,send_user_avatar
        FROM chat_message
        WHERE (send_user_id = #{sendUserId} AND  receive_user_id = #{receiveUserId})
        OR (send_user_id = #{receiveUserId} AND receive_user_id = #{sendUserId})
        ORDER BY send_time ASC
    </select>

    <insert id="insertChatMessage">
        INSERT INTO chat_message( send_user_id, receive_user_id, send_content, send_time,send_user_name,receive_user_name,send_user_avatar )
        VALUES (#{sendUserId}, #{receiveUserId}, #{sendContent}, #{sendTime}, #{sendUserName}, #{receiveUserName},#{sendUserAvatar})
    </insert>

</mapper>