<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserLoginMapper">
<!--    <select id="queryAll" resultType="com.example.demo.pojo.User">-->
<!--        select user.*, login.email-->
<!--        from login_db as login,-->
<!--             user_db as user-->
<!--        where login.email = #{email}-->
<!--          and login.password = #{password}-->
<!--          and user.userId = login.userId;-->
<!--    </select>-->

    <select id="isLoginByEmail" resultType="boolean">
        select EXISTS (SELECT * FROM login_db WHERE login_db.email=#{email}) ;
    </select>

    <select id="isLoginById" resultType="boolean">
        select EXISTS (SELECT * FROM login_db WHERE login_db.id=#{id}) ;
    </select>

    <select id="queryAllById" resultType="com.example.demo.pojo.User">
        select * FROM user_db where user_db.id=#{id};
    </select>

    <select id="queryAllByEmail" resultType="com.example.demo.pojo.User">
        select * FROM user_db where user_db.email=#{email};
    </select>

    <insert id="login" parameterType="com.example.demo.pojo.User">
        insert into login_db (id,email) values (#{id},#{email})
    </insert>

    <delete id="unlogin" >
        DELETE FROM login_db WHERE id = #{id};
    </delete>

    <insert id="addUser" parameterType="com.example.demo.pojo.User">
        insert into user_db (email,password) value (#{email},#{password},#{gender},#{region},#{avatar},#{name});
    </insert>

</mapper>